.form{
    display: grid;
    grid: 
    'f1 f1 p1';
}
form {
    grid-area: f1;
    background-color: turquoise;
}
.promo {
    display: grid;
    grid-area: p1;
    grid:
    'p1'
    'p2'
    'p3';
}

input[type=text], input[type=email], text , textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

@media screen and (max-width: 1280px) {

    .form{
        grid:
        'f1 p1';
    }
}
@media screen and (max-width: 480px) {

    .form{
        grid:
        'f1 f1'
        'p1 p1';
    }
}