/* Basic css for PC (> 1280px)*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
body {margin: 0;}
  
body > header{
    background-color: #000000;
    color: #ffffff;
    
}
body header img {
    width: 150px;
    padding: 5px;
}
body > header > h1{
    background-color: grey;
    margin: 0px;
    padding: 5px;
}
body > header > h2{
    background-color: darkgray;
    margin: 0px;
    padding: 5px;
}
nav{
    background-color: purple;
    padding: 10px;
}
nav > ul{
    list-style-type: none;
    padding:0px;
}
nav > ul > li {
    display: inline;
    padding: 5px;
}

main{
    display: flex;
    flex-flow: row wrap;
}

video{
    background-color: indianred;
    flex: 100%;  
    order:1;
}
article > h3 {
    margin-top: 0px;
}
article {
    padding: 5px;
}
.articles{
    flex-basis: 66.6%;
    order:2;
    display: flex;
    flex-flow: column;
}

#article1{
    background-color: #00ff00;
    order: 1;
}

#article2{
    background-color: #00ffff;
    order: 2;
}

#article3{
    background-color: lightblue;
    order: 3;
}

.product-img{
    vertical-align: top;
    float: right;
    margin: 0 0 0 10px;
}

.product-img img {
    width: 150px;
}

aside {
    order: 2;
    flex-basis: 33.3%;
    background-color: sandybrown;
}

body > footer{
    background-color: #F0F;
    padding: 5px;
}

#cookie{
    background-color: rgba(255, 160, 0, 0.5);
    color: #FFF;
    z-index: 9999;
    position: fixed;
    right: 0px;
    bottom: 0px;
}

@media screen and (max-width: 1280px) {
    aside {
        order: 1;
        flex-basis: 100%;
    }
    video {
        order: 2;
    }
    .articles {
        flex-flow: column-reverse;
        flex-basis: 100%;
    }
    #article3{
        background-color: #00ff00;
    }
    #article2 {
        background-color: lightblue;
    }
    #article1 {
        background-color: #00ffff;
    }
    .product-img{
        float: left;
        margin: 0 10px 0 0;
    }
}

@media screen and (max-width: 480px) {
    #article3{
        background-color: lightblue;
    }
    #article2 {
        background-color: #00ffff;
    }
    #article1 {
        background-color: #0f0;
    }
    .product-img{
        margin: auto;
        bottom: 0px;
    }
    video {
        display: none;
    }
    
}