/* Basic css for PC (> 1280px)*/

body > header{
    background-color: #000000;
    color: #ffffff;
}
body > header > img {
    width: 150px;
}
body > header > h1{
    background-color: grey;
    margin: 0px;
}
body > header > h2{
    background-color: darkgray;
    margin: 0px;
}
nav{
    background-color: purple;
    padding: 10px;
}
nav > ul{
    list-style-type: none;
    padding:0px;
}
nav > ul > li {
    display: inline;
    padding: 5px;
}
video{
    background-color: indianred;
    width: 100%;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article{
    padding: 5px;
}

#article1{
    background-color: #00ff00;
}

#article2{
    background-color: #0000FF;
}

#article3{
    background-color: lightblue;
}

aside{
    float: right;
    flex-grow: 0;
    flex-shrink: 0;
    flex: 33.3%;
    
}
#cookie{
    background-color: #FA0;
    color: #FFF;
    float: right;
    z-index: 9999;
    position: fixed;
    right: 0px;
    bottom: 0px;
}