/* Basic css for PC (> 1280px)*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
body {margin: 0;}
  
body > header{
    background-color: #000000;
    color: #ffffff;
    
}
body header img {
    width: 150px;
    padding: 5px;
}
body > header > h1{
    background-color: grey;
    margin: 0px;
    padding: 5px;
}
body > header > h2{
    background-color: darkgray;
    margin: 0px;
    padding: 5px;
}
nav{
    background-color: purple;
    padding: 10px;
}
nav > ul{
    list-style-type: none;
    padding:0px;
}
nav > ul > li {
    display: inline;
    padding: 5px;
}

.menu_toggle,
  [id^=drop] {
    display: none;
  }

.flex{
    display: flex;
    flex-flow: row wrap;
}

video{
    background-color: indianred;
    flex: 100%;  
    order:1;
}
article > h3 {
    display: inline;
    margin-top: 0px;
}
article {
    padding: 5px;
}
.articles{
    flex-basis: 66.6%;
    order:2;
    display: flex;
    flex-flow: column;
}

#article1{
    background-color: #00ff00;
    order: 1;
}

#article2{
    background-color: #00ffff;
    order: 2;
}

#article3{
    background-color: lightblue;
    order: 3;
}

.product-img{
    float: right;
    margin: 0 0 0 10px;
}

.product-img img {
    width: 150px;
}
.prod-img-mobile {
    display: none;
}
.aside-flex {
    order: 2;
    flex-basis: 33.3%;
    background-color: sandybrown;
}

.promo-img img{
    width: 150px;
    display: block;
    padding: 10px;
}


footer{
    background-color: #F0F;
    padding: 5px;
    position: static;
    bottom: 0px;
}

#cookie{
    background-color: rgba(255, 160, 0, 0.5);
    color: #FFF;
    z-index: 9999;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 33.3%;
}

a > img {
    width: 150px;

}
/* Table */
table {
    background-color: #0ff;
}
thead{
    background-color: white;
}
tr:nth-child(even){
    background-color: #00f;
}

/* Grid stuff */
.grid-container {
    display: grid;
    grid:
    'a2 a1 a3'
    'a2 a1 a3'
    'a5 a1 a3'
    'a5 a1 a4'
    'a5 a1 a4'
    'a5 a1 a4'
    'a5 a6 a6';
}

.grid-1 {
    grid-area: a1;
    background-color: lightblue;
}

.grid-2 {
    grid-area: a2;
    background-color: #0ff;
}

.grid-3 {
    grid-area: a3;
    background-color: #0aa;
}

.grid-4 {
    grid-area: a4;
    background-color: lightcyan;
}

.grid-5 {
    grid-area: a5;
    background-color: lightgray;
}

.grid-6 {
    grid-area: a6;
    background-color: lightgoldenrodyellow;
}

.aside-grid {
    display: grid;
    grid:
    'p1 p2 p3';
}

.aside-grid > .promo-img-1 {
    grid-area: p1;
    background-color: #00ff00;
}

.aside-grid > .promo-img-2 {
    grid-area: p2;
    background-color: #00ffff;
}

.aside-grid > .promo-img-3 {
    grid-area: p3;
    background-color: lightblue;
}


@media screen and (max-width: 1280px) {
    

    aside {
        order: 1;
        flex-basis: 100%;
    }
    video {
        order: 2;
    }
    .articles {
        flex-flow: column-reverse;
        flex-basis: 100%;
    }
    #article3{
        background-color: #00ff00;
    }
    #article2 {
        background-color: lightblue;
    }
    #article1 {
        background-color: #00ffff;
    }
    .product-img{
        float: left;
        margin: 0 10px 0 0;
    }
    .promo-solar > .promo-img-1 {
        display: none;
    }
    .promo-solar > .promo-img-2 {
        display: inline;
        text-align: start;
    }
    .promo-solar > .promo-img-3{
        display: inline;
        text-align: end;
    }

    /* Grid stuff */

    .grid-container {
        grid: 
        'a1 a2'
        'a1 a2'
        'a3 a2'
        'a3 a5'
        'a3 a5'
        'a3 a5'
        'a6 a6'
        'a6 a6'
        ;
    }

    .grid-4 {
        display: none;
    }

    .aside-grid {
        grid:
        'p1 p2'
        ;
    }

    .aside-grid > .promo-img-3 {
        display:  none;
    }

}

@media screen and (max-width: 480px) {
    header img {
        display: none;
    }
    #article3{
        background-color: lightblue;
    }
    #article2 {
        background-color: #00ffff;
    }
    #article1 {
        background-color: #0f0;
    }
    .product-img{
        /* text-align: center;
        float: none;
        margin: auto;
        bottom: 0px;
        vertical-align: bottom; */
        display: none;
    }
    .prod-img-mobile {
        display: block;
    }
    .prod-img-mobile img {
        width: 150px;
        display: block;
        margin: auto;
    }
    video {
        display: none;
    }
    .toggle, .menu_toggle, [id^=drop] { display: none; }
    .menu *{ text-align: center; }
    
        /* Styling the toggle lable */
    .menu_toggle {
        display: block;
        text-decoration:none;
        cursor: pointer;
    }
    .toggle{
        display: block
      }

    nav a {
    display:block;
    color:#333;
    text-decoration:none;
    font-size: 20px;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle + a,
    .menu_2 {
        display: none;
    }
    /* Display Dropdown when clicked on Parent Label */
    [id^=drop]:checked + ul {
        display: block;
    }

    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
    }

    /* Grid stuff */

    .grid-container {
        grid:
        'a5'
        'a3'
        'a2'
        'a1';
    }
    .grid-4 , .grid-6 {
        display: none;
    }

    .aside-grid {
        grid:
        'p1'
        'p2'
        'p3';
        text-align: center;
    }
    .aside-grid > .promo-img-3 {
        display:  unset;
    }
}